/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 3, 2015, 8:18:17 AM
    Author     : linhlm2
*/

.margin-bottom-0 {margin-bottom: 0px}
.vertical-align {
    display: flex;
    align-items: center;
}

.border-radius {border-radius: 0px;}

.footer {
    background-color: #f5f5f5 !important;
    height: 0px ;
    width: 100%;
}

.margin-top-10 {margin-top:10px;}
.login-error {color: red}
.container-fluid ul>li {margin:0 0;}
a {text-decoration: none !important;}